@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(232, 11%, 14%);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}
